<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DarockBili.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>36</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>61D5296436CDC127879E1985667375688257C9FA</string>
				<key>dateExpires</key>
				<string>2024/1/16</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>36</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61D5296436CDC127879E1985667375688257C9FA</string>
						<key>dateExpires</key>
						<string>2024/1/16</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>B57D8PP775.com.darock.DarockBili.watchkitapp</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>B57D8PP775</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>腕上哔哩.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>2a4f9bd7-359f-4fd9-81ce-cc79407ac8d8</string>
						<key>dateExpires</key>
						<string>2024/1/16</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.darock.DarockBili.watchkitapp</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B57D8PP775</string>
						<key>name</key>
						<string>Yuxuan Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B57D8PP775.com.darock.DarockBili</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>B57D8PP775</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DarockBili.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>47754822-f6d2-4db9-8879-8504fcbd8e0c</string>
				<key>dateExpires</key>
				<string>2024/1/16</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.darock.DarockBili</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B57D8PP775</string>
				<key>name</key>
				<string>Yuxuan Chen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
