<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DarockBili.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>148</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B349DA973F4C7F074ED5DF70921D36FD9F869CF4</string>
				<key>dateExpires</key>
				<string>2024/7/3</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>148</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B349DA973F4C7F074ED5DF70921D36FD9F869CF4</string>
						<key>dateExpires</key>
						<string>2024/7/3</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>B57D8PP775.com.darock.DarockBili.watchkitapp</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>B57D8PP775</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>DarockBili Watch App.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>c22df5a8-49d3-4bf2-8b0e-9fa61861a8a1</string>
						<key>dateExpires</key>
						<string>2024/7/3</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.darock.DarockBili.watchkitapp</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B57D8PP775</string>
						<key>name</key>
						<string>Yuxuan Chen</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B57D8PP775.com.darock.DarockBili</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>B57D8PP775</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DarockBili.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7347a755-2c32-4a94-bb55-f4358c0400ea</string>
				<key>dateExpires</key>
				<string>2024/7/3</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.darock.DarockBili</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B57D8PP775</string>
				<key>name</key>
				<string>Yuxuan Chen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
